@charset "utf-8";

/* Estilizações por seletores */

* {
    max-width: 1629px;
    font-family: sans-serif;
    font-weight: bolder;
}

body {
    margin: 2px 10%;
    background-image: linear-gradient(to bottom, white, #12293d);
    border-radius: 10px;
}

body header form {
    display: flex;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color:#12293D;
    border-radius: 20px;
    text-align:center;
    background-image: linear-gradient(to top, #3039417e, #12293d);
}

header figure {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}

header div {
    margin: 20px;
    color: white;
}

header img {
    width: 100%;
    height: 100%;
}

label img {
    height: 20px;
}

footer {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 0px;
    text-align: center;
    font-weight: bolder;
}

textarea {
    width: 100%;
}

form fieldset {
    border: 2px solid;
    border-radius: 20px;
    margin: 10px 0px;
}

fieldset legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid;
    padding: 5px;
    font-weight: bolder;
}

fieldset legend img {
    height: 80px;
    width: 80px;
}

/* Classes */

.wd {
    width: 100%;
}

.fld {
    font-weight: bolder;
}

.flx2 {
    display: flex;
    justify-content: center;
}

.btn {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    background-color: #247BA0;
    color: white;
    border-radius: 10px;
    margin: 0px 20px;
}

.btn:hover {
    background-color: gold;
    color: black;
    font-weight: bolder;
}

.btn2 {
    text-align: center;
}

.btn3 {
    font-size: 15px;
    font-weight: bolder;
    background-color: #247BA0;
    color: white;
    border-radius: 10px;
    margin: 0px 20px;
}

.btn3:hover {
    background-color: gold;
    color: black;
    font-weight: bolder;
}

/* Media Queries */

@media(max-width:320px) {
    form {
        width: 100%;
    }

    .gd {
        display: flex;
        flex-direction: column;
    }

    .mb {
        display: none;
    }

    .mb2 {
        width: 100%;
    }
}

@media(max-width:899px) {

    .gd {
        display: flex;
        flex-direction: column;
    }

    .mb {
        display: none;
    }

    .mb2 {
        width: 100%;
    }

    header {
        max-width: 400px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(min-width:900px) {

    .ajust {
        border-radius: 20px;
        border: 2px solid;
    }
    
    .gd {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% 10% 23%;
        margin-right: 10px;
    }
    
    .gd2 {
        display: grid;
        grid-template-columns: 30% 70%;
    }
    
    .flx {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    
    .flx h1 {
        color: black;
    }
    
    .flx1 {
        display: flex;
        flex-direction: column;
    }

    .mb2 {
        width: 100%;
    }
}
